---
import Navbar from "../navbar/Navbar";
import MainComponent from "./Main.component.jsx";
import "./main.css";
---

<div class="main">
  <Navbar client:load/>
  <MainComponent client:load />
</div>
